@import '../../Scss/root';

.search-form {
	position: relative;

	&__input {
		background-color: $secondary-color;
		border: none;
		padding: 1rem;
		width: 100%;
	}

	&__button {
		@include rfs(30);
		background-color: transparent;
		border: none;
		display: inline-block;
		height: 100%;
		padding: 0 1rem;
		position: absolute;
		right: 0;
		top: 0;
	}
}