.grid {
	@media screen and (min-width: 400px) { grid-template-columns: repeat(2, 1fr); }
	@media screen and (min-width: 769px) { grid-template-columns: repeat(4, 1fr); }
	display: grid;
	grid-gap: 1em;
	margin: 2rem 0;
}