$primary-color: #000;
$secondary-color: #fff;

$container: 1200px;

$fontFamily: 'Lato', sans-serif;
$text-color: $secondary-color;

$border-radius: 8px;
$sm-beakpoint:  768px;

$header-height: 80px;
